.comunicate{
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    text-align: center;
}

.imagencont{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: auto;
    width:490px;
    height: auto;
    margin: auto; 
}

form{
    margin-left: 515px;
    margin-right: 500px;
    padding-bottom: 15px;
}

.envia{
    text-align: center;
}

.fondo{
    background-color: rgba(81, 81, 90, 0.171);
}
