.comunicate{
    padding-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.imagencont{
    margin-top: 30px;
    border-radius: 20px;
    padding-left: 70px;
}